.page-footer {
  background-color: #4c495d;
  box-shadow: inset 1px 1px 5px black;
  min-height: 200px;
}

.page-footer .footer-content, a {
  font-size: 20px;
  color: white;
}

.footer-content {
  margin-top: auto;
}

.page-footer a:hover {
  color: rgb(1, 14, 9);
}


.row.justify-content-center.title h1 {
  margin-top: 50px;
}


.col-lg-7 .col-md-2, .col-lg-7 .col-md-2 .fa.fa-github, .col-lg-7 .fa.fa-address-book-o {
  margin: 5px;
  font-size: 50px;
}

