.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    background-color: rgba(209, 218, 209, 0.4);
    border: 1px solid rgb(26, 25, 25);
    /* //margin-left:25px;
    //margin-right: 25px; */
    border-radius: 50%;
}
.container{
    text-align: center;
    font-size: 1rem;
}
.p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(243, 237, 237);
    padding: 8px;
    margin: 8px;
}
.hr{
    width: 50%;
}
h1,h3{
    color: white;
}
p,span{
    color: white;
}
.img{
    width: 90%;
    height: 260px;
}

@media only screen and (min-width: 778px){
    .image{
    height: 315x;
    width: 216px;  
    /* border-radius: 50%; */

    } 
    .img{
        height: 400px;
    width: 80%;  
    }
    
}