h2{
    color:white;
}
li{
    font-family: 'Varela Round', sans-serif;

    color: rgb(243, 237, 237);
    padding: 8px;
    margin: 8px;
}
.experience{
    display: flex;
    margin: 5px;
    color: rgba(19, 228, 19, 0.4);

}
.icn{
    padding-top: 7px;
    padding-right: 5px;
    
}
