body{
  background-color: rgb(5, 0, 10);
 
  /* background: linear-gradient(to right, #020013, #1b1b02);  */

}

.container{
  text-align: left;
  background-color: rgb(5, 0, 10);
  margin: 10px;
  border-radius: 4px;
  padding: 12px;
}